{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/drawers

    Boost drawer template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * courseindexopen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "courseindexopen": true,
        "navdraweropen": false,
        "blockdraweropen": true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false,
        "addblockbutton": ""
    }
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}
<div id="page-wrapper" class="d-print-block">

    {{{ output.standard_top_of_body_html }}}

    {{#isloggedin}}
        <nav class="navbar fixed-top " aria-label="{{#str}}sitemenubar, admin{{/str}}">
            <div class="header-theme">
                <div class="container-counter" id="container-counter">
                    <div class="counter">
                        <div class="counter-header">
                            <a href="{{config.wwwroot}}" class="ava-name counter-label">AVA Acadêmico</a>
                            <button class="counter-toggler">    
                                {{#pix}}i/icon-fa-solid-code, theme_suap{{/pix}}
                            </button>
                        </div>
                        <div class="counter-content">
                            <div id="content-part1">
                                {{#usermenu}}
                                <div class="drawer-toggler" id="user-toggler" data-drawer="drawer-user">
                                    {{> core/user_menu_metadata }}
                                    <div class="user-info counter-label">
                                        <p class="user-name">
                                            {{userfullname}}
                                        </p>
                                        
                                        <span class="user-function">{{rolename}}</span>
                                    </div>
                                </div>
                                {{/usermenu}}

                                {{# output.search_box }}
                                    {{{ output.search_box }}}
                                    <div class="divider border-left h-75 align-self-center mx-1"></div>
                                {{/output.search_box}}

                                <div class="drawer-toggler counter-option" data-drawer="drawer-notifications">
                                    <i class="fa-regular fa-bell"></i>
                                    <span class="counter-label">{{#str}} notifications, message {{/str}}</span>
                                </div>
                                <div id="message-drawer-toggle-{{uniqid}}" class="drawer-toggler counter-option" data-drawer="drawer-messages"> 
                                    <i class="fa-regular fa-comment"></i>
                                    <span class="counter-label">{{#str}} messages,core_message {{/str}}</span>
                                </div>
                                <div class="bug-box counter-option">
                                    <i class="fa-solid fa-bug"></i>
                                    <span class="counter-label">Bug</span>
                                </div>
                            </div>
                            <div id="content-part2">
                                {{#courseindex}}
                                    <div class="drawer-toggler counter-option" data-drawer="drawer-index">
                                        <i class="fa-solid fa-align-left"></i>
                                        <span class="counter-label">{{#str}}  drawer_course_index, theme_suap {{/str}}</span>
                                    </div>
                                {{/courseindex}}
                                {{#hasblocks}}   
                                    <div class="drawer-toggler counter-option" data-drawer="drawer-blocks">
                                        
                                        <span class="counter-label"><i>{{#pix}}i/icon-fa-solid-drawer, theme_suap{{/pix}}</i>{{#str}} drawer_blocks, theme_suap, {{/str}}</span>
                                    </div>
                                {{/hasblocks}}
                            </div>
                        </div>
                       
                    </div>
                    <div class="drawers">
                        {{#usermenu}}
                        <div class="drawer-content" id="drawer-user">
                            <div class="drawer-header">
                                <div class="drawer-header-info">
                                    <i class="fa-regular fa-user"></i>
                                    <h2>{{#str}}  drawer_user, theme_suap {{/str}}</h2>
                                </div>
                                <a href="#" class="drawer-close" data-drawer="drawer-user">
                                    <i class="fa-solid fa-xmark"></i>
                                </a>
                            </div>
                            <ul class="drawer-list">
                                {{> core/user_action_menu_items }}
                            </ul>
                                   
                        </div>
                        {{/usermenu}}

                    <div class="drawer-content" id="drawer-notifications">                 
                        {{< core/popover_region }}
                            {{$classes}}popover-region-notifications{{/classes}}
                            {{$attributes}}id="nav-notification-popover-container" data-userid="{{userid}}"{{/attributes}}

                            {{$togglelabel}}{{!
                                }}{{^unreadcount}} {{#str}} shownotificationwindownonew, message {{/str}} {{/unreadcount}} {{!
                                }}{{#unreadcount}} {{#str}} shownotificationwindowwithcount, message, {{.}} {{/str}} {{/unreadcount}} {{!
                            }}{{/togglelabel}}
                            {{$togglecontent}}
                                <i class="fa-regular fa-bell" title="{{#str}} togglenotificationmenu, message {{/str}}" role="img" aria-label="{{#str}} togglenotificationmenu, message {{/str}}"></i>
                                <div
                                    class="count-container {{^unreadcount}}hidden{{/unreadcount}}"
                                    data-region="count-container"
                                    aria-hidden=true
                                >
                                    {{unreadcount}}
                                </div>
                            {{/togglecontent}}

                            {{$containerlabel}}{{#str}} notificationwindow, message {{/str}}{{/containerlabel}}

                            {{$headertext}}{{#str}} notifications, message {{/str}}{{/headertext}}
                            {{$headeractions}}
                                <a class="mark-all-read-button"
                                href="#"
                                title="{{#str}} markallread {{/str}}"
                                data-action="mark-all-read"
                                role="button"
                                aria-label="{{#str}} markallread {{/str}}">
                                    <span class="normal-icon">{{#pix}} t/markasread, core {{/pix}}</span>
                                    {{> core/loading }}
                                </a>
                                {{# urls.preferences }}
                                    <a href="{{{ . }}}"
                                    title="{{#str}} notificationpreferences, message {{/str}}"
                                    aria-label="{{#str}} notificationpreferences, message {{/str}}">
                                        {{#pix}} i/settings, core {{/pix}}</a>
                                {{/ urls.preferences }}
                            {{/headeractions}}

                            {{$content}}
                                <div class="all-notifications"
                                    data-region="all-notifications"
                                    role="log"
                                    aria-busy="false"
                                    aria-atomic="false"
                                    aria-relevant="additions"></div>
                                <div class="empty-message" tabindex="0" data-region="empty-message">{{#str}} nonotifications, message {{/str}}</div>
                            {{/content}}
                        {{/ core/popover_region }}                  
                    </div>

                    <div class="drawer-content" id="drawer-messages">
                        
                        {{{ output.standard_after_main_region_html }}}     
                    </div>
                    <div class="drawer-content" id="drawer-index">
                        <div class="drawer-header">
                            <div class="drawer-header-info">
                                <i class="fa-solid fa-align-left"></i>
                                <h2>Índice da Disciplina</h2>
                            </div>
                            <a href="#" class="drawer-close" data-drawer="drawer-user">
                                <i class="fa-solid fa-xmark"></i>
                            </a>
                        </div>
                        {{#courseindex}}
                            {{< theme_boost/drawer }}
                                {{$id}}theme_boost-drawers-courseindex{{/id}}
                                {{$drawerheadercontent}}
                                    {{> theme_boost/courseindexdrawercontrols}}
                                {{/drawerheadercontent}}
                                {{$drawerclasses}}drawer {{#courseindexopen}}show{{/courseindexopen}}{{/drawerclasses}}
                                {{$drawercontent}}
                                    {{{courseindex}}}
                                {{/drawercontent}}
                                {{$drawerpreferencename}}drawer-open-index{{/drawerpreferencename}}
                                {{$drawerstate}}show-drawer-left{{/drawerstate}}
                                {{$tooltipplacement}}right{{/tooltipplacement}}
                                {{$closebuttontext}}{{#str}}closecourseindex, core{{/str}}{{/closebuttontext}}
                            {{/ theme_boost/drawer}}
                        {{/courseindex}}                      
                    </div>
                    <div class="drawer-content" id="drawer-blocks">
                        <div class="drawer-header">
                            <div class="drawer-header-info">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12.314" viewBox="0 0 16 12.314">
                                    <path id="União_26" data-name="União 26" d="M11038.57-10430.343a2.14,2.14,0,0,1-.568-1.579v-9.013a1.22,1.22,0,0,1,1.221-1.221h13.558a1.219,1.219,0,0,1,1.221,1.221v9.016a2.127,2.127,0,0,1-.569,1.576,2.052,2.052,0,0,1-1.5.5l-11.968,0A1.893,1.893,0,0,1,11038.57-10430.343Zm1-9.807v8.259a.578.578,0,0,0,0,.071.427.427,0,0,0,.44.405h12a.431.431,0,0,0,.414-.41v-8.325a.435.435,0,0,0-.433-.436h-11.99A.436.436,0,0,0,11039.572-10440.149Zm3.792,2.921a.785.785,0,0,1-.785-.785.786.786,0,0,1,.785-.785h5a.786.786,0,0,1,.785.785.785.785,0,0,1-.785.785Z" transform="translate(-11038.001 10442.155)" fill="#2B2B2B"/>
                                </svg>
                                <h2>Gaveta de blocos</h2>
                            </div>
                            <a href="#" class="drawer-close" data-drawer="drawer-user">
                                <i class="fa-solid fa-xmark"></i>
                            </a>
                        </div>
                        {{#hasblocks}}
                            {{< theme_boost/drawer }}
                                {{$id}}theme_boost-drawers-blocks{{/id}}
                                {{$drawerclasses}}drawer{{#blockdraweropen}} show{{/blockdraweropen}}{{/drawerclasses}}
                                {{$drawercontent}}
                                    <section class="d-print-none" aria-label="{{#str}}blocks{{/str}}">
                                        {{{ addblockbutton }}}
                                        {{{ sidepreblocks }}}
                                    </section>
                                {{/drawercontent}}
                                {{$drawerpreferencename}}drawer-open-block{{/drawerpreferencename}}
                                {{$forceopen}}{{#forceblockdraweropen}}1{{/forceblockdraweropen}}{{/forceopen}}
                                {{$drawerstate}}show-drawer-right{{/drawerstate}}
                                {{$tooltipplacement}}left{{/tooltipplacement}}
                                {{$drawercloseonresize}}1{{/drawercloseonresize}}
                                {{$closebuttontext}}{{#str}}closeblockdrawer, core{{/str}}{{/closebuttontext}}
                            {{/ theme_boost/drawer}}
                        {{/hasblocks}}
                    </div>                    
                </div>
            </div>
        </div>

        <div>
            <div class="container-fluid">   
                <ul id="breadcrumb">            
                    <a id="navbar-breadcrumb"  href="{{config.wwwroot}}"><i  class="icon fa fa-home"></i></a>    
                    {{{navbar}}} 
                </ul>     
                {{{ output.edit_switch }}}
            </div>
        </div>

    </nav>
    {{/isloggedin}}
        {{!> theme_boost/navbar }}

    <div class="content-main">    
        {{{ output.full_header }}}
        {{#secondarymoremenu}}
            <div class="secondary-navigation d-print-none">
                {{> core/moremenu}}
            </div>
        {{/secondarymoremenu}}

        <div id="page-content" class="pb-3 d-print-block">
        
            <div id="region-main-box">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none">
                    <div> {{{ regionmainsettingsmenu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" aria-label="{{#str}}content{{/str}}">

                    {{#hasregionmainsettingsmenu}}
                        <div class="region_main_settings_menu_proxy"></div>
                    {{/hasregionmainsettingsmenu}}
                    {{{ output.course_content_header }}}
                    {{#headercontent}}
                        {{> core/activity_header }}
                    {{/headercontent}}
                    {{#overflow}}
                        <div class="container-fluid tertiary-navigation">
                            <div class="navitem">
                                {{> core/url_select}}
                            </div>
                        </div>
                    {{/overflow}}
                    {{{ output.main_content }}}
                    {{{ output.activity_navigation }}}
                    {{{ output.course_content_footer }}}
                </section>
            </div>
        </div>
        {{> theme_boost/footer }}
    </div>
</div>



</body>
</html>

{{#js}}
require(['theme_suap/notifications'], (module) => module.init());
require(['theme_suap/settings-menu'], (module) => module.init());

const drawerNotification = document.querySelector('[data-drawer="drawer-notifications"]');
const toggleNotification = document.querySelector('#nav-notification-popover-container .popover-region-toggle')

drawerNotification.addEventListener('click', function() {
    toggleNotification.click();
})

require(['jquery', 'message_popup/notification_popover_controller'], function($, Controller) {
    var container = $('.popover-region-notifications');
    var controller = new Controller(container);
    controller.registerEventListeners();
    controller.registerListNavigationEventListeners();
});
{{/js}}

{{#js}}
const body = document.body;
let drawers = document.querySelectorAll('.drawer-content');
let drawersToggler = document.querySelectorAll('.drawer-toggler');
let closeButtons = document.querySelectorAll('.drawer-close');

const counterToggler = document.querySelector('.counter-toggler');

const searchForm = document.querySelector('.searchform-js');


if(searchForm) {
    const searchSubmit = searchForm.querySelector('.search-js');
    const searchInput = searchForm.querySelector('.input-js');
    searchSubmit.addEventListener('click', () => {
        body.classList.remove('counter-close');
        searchInput.focus();
    })
}

counterToggler.addEventListener('click', () => {
   

    body.classList.toggle('counter-close');
    if(searchForm) {
         const searchInput = searchForm.querySelector('.input-js');
        searchInput.value = "";
    };
});



function closeAllDrawers(drawers) {
    body.classList.remove('drawer-open');
    drawers.forEach((drawer) => {
        drawer.classList.remove('active-drawer');
    })
    drawersToggler.forEach((toggler) => {
        toggler.classList.remove('active-toggler');
    })
}


drawersToggler.forEach((toggler) => {
    toggler.addEventListener('click', () => {
        let drawerId = toggler.getAttribute('data-drawer');
        let drawer = document.getElementById(drawerId);

        if (drawer.classList.contains('active-drawer')) {
            drawer.classList.remove('active-drawer');
            toggler.classList.remove('active-toggler');
            body.classList.remove('drawer-open');
        } else {
            closeAllDrawers(drawers, drawersToggler);
            drawer.classList.add('active-drawer');
            toggler.classList.add('active-toggler');
            body.classList.add('drawer-open');
        }
    })
})

closeButtons.forEach((button) => {
    button.addEventListener('click', () => {
        closeAllDrawers(drawers, drawersToggler);
    })
})



M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
    Drawer.init();
    M.util.js_complete('theme_boost/loader');
});
{{/js}}

