// * {
//     margin: 0px;
//     padding: 0px;
// }

// a {
//     text-decoration: none;
// }
ul, ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.container-counter {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    pointer-events: none;
}

.counter {
    background-color: var(--primary);
    height: 100vh;
    width: var(--counter-default);
    overflow: hidden;
    pointer-events: all;
    padding: 1rem .5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: var(--shadow-primary);
    transition: all .2s ease-in;

    .counter-option {
        color: var(--general-white);
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: .5rem 1rem;
        margin-bottom: .5rem;
        cursor: pointer;
        border-radius: 2rem;
        &.active-toggler, &:hover {
            background-color: var(--primary-dark);
        }
        span {
            font: var(--font-button2);
        }
    }

    .counter-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        .counter-toggler {
            display: flex;
            align-items: center;
            border: none;
            background-color: var(--primary-dark);
            color: var(--general-white);
            padding: .5rem;
            border-radius: .5rem;
        }
        .ava-name {
            font: var(--font-heading2);
            color: var(--general-white);
            white-space: nowrap;
        }
    }
}

.counter-toggler .icon {
    margin-right: 0px;
}
.counter-label {
    white-space: nowrap;
}
.counter-close {
    .counter {
        width: var(--counter-close);
    }
    .counter-header {
        justify-content: center;
    }
    .counter-label {
        display: none;
    }
} 

#user-toggler {
    display: flex;
    align-items: center;
    background-color: var(--light-lighter);
    gap: .25rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
    img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 40px;
    }
    .userinitials {
        margin-right: 0px;
    }
    .user-info {
        line-height: 0px;
    }
    .user-name {
        font: var(--font-heading4);
        margin-bottom: 0;
    }
    .user-function {
        font: var(--font-heading6);
        color: var(--dark-light);
    }
}
.counter-close #user-toggler {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
}

.simplesearchform {
    margin-bottom: 1rem;
    .searchform-navbar {
        padding-inline: .5rem;
    }
    .input-group {
        border-bottom: 1px solid var(--general-white);
        flex-direction: row-reverse;
    }
    .form-control {
        background-color: transparent;
        border: none;
        color: var(--general-white);
        font: var(--font-paragraph2);
        padding-left: .5rem;
        &::placeholder {
            color: var(--general-white);
        }
    }
    .btn-submit {
        background-color: transparent;
        border: none;
        color: var(--general-white);
    }
}
.counter-close .simplesearchform {
    .searchform-navbar {
        justify-content: center;
    }
    .input-group {
        border-bottom: none;
        width: auto;
    }
    .form-control {
        display: none;
    }
}

.content-main {
    margin-left: var(--counter-default);
    margin-top: 54px;
    padding: 2rem;
    transition: all .2s ease-in-out;
}
.content {
    max-width: 830px;
    margin: 0 auto;
}
.counter-close .content-main {
    margin-left: var(--counter-close);
}
.counter-close.drawer-open .content-main {
    margin-left: calc(var(--counter-close) + var(--drawer-open));
}
.drawer-open .content-main {
    margin-left: calc(var(--counter-default) + var(--drawer-open));
}


.breadcrumb { 
    background-color: var(--general-white);
    pointer-events: all;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 1rem;
    margin-top: .5rem;
    margin-left: 1rem;
    border-radius: 1rem;
    ol {
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
    }
}


.drawer-open .breadcrumb {
    margin-left: calc(var(--drawer-open) * -1);
}

