:root {
    /* COLORS */
    --primary: #098E95;
    --primary-dark: #0F5A60;
    --primary-light: #CEFDEF;
    --secondary: #9F6EDE; 
    --secondary-dark: #633594;
    --secondary-light: #E7DBF9;
    --success: #85C121;
    --success-dark: #3F5D17;
    --success-light: #E3F9CE;
    --danger: #FE5448;
    --danger-dark: #A41A10;
    --danger-light: #FFE2E0;
    --warning: #EBBE34;
    --warning-dark: #BC7D12;
    --warning-light: #FAF3C7;
    --info: #FF7E33;
    --info-dark: #C62F08;
    --info-light: #FFE9D4;
    --light: #EBEBEB;
    --light-dark: #CCCCCC;
    --light-lighter: #F5F5F5;
    --dark: #2B2B2B;
    --dark-darker: #141414;
    --dark-light: #858585;
    --general-white: #FFFFFF;

    /* FONTS */
    --font-family: "Noto Sans", sans-serif;
    --font-heading1: 700 1.5rem/normal var(--font-family); /*24px*/
    --font-heading2: 700 1.125rem/normal var(--font-family); /*18px*/
    --font-heading3: 500 1rem/normal var(--font-family);
    --font-heading4: 500 0.875rem/normal var(--font-family); /*14px*/
    --font-heading5: 500 0.75rem/normal var(--font-family); /*12px*/
    --font-heading6: 500 0.625rem/normal var(--font-family); /*10px*/

    --font-button1: 600 1rem/normal var(--font-family);
    --font-button2: 600 0.875rem/normal var(--font-family); /*14px*/
    --font-button3: 600 0.75rem/normal var(--font-family); /*12px*/

    --font-paragraph1: 400 1rem/normal var(--font-family);
    --font-paragraph2: 400 0.875rem/normal var(--font-family); /*14px*/
    

    /* SIZES */
    --counter-close: 56px;
    --counter-default: 252px;
    --drawer-open: 294px;

    /* SHADOWS */
    --shadow-primary: 0px 4px 4px 0px #00000040;
}
