$color-accent: #098E95;
$color-accent-disabled: #CEFDEF;
$color-white:#FFF;

$color-success-light: #E3F9CE;
$color-success-dark: #3F5D17;

$color-dark: #2B2B2B;
$color-dark-light: #858585;

$color-light: #EBEBEB;
$color-light-lighter: #F5F5F5;
$color-light-dark:#CCC;

$color-danger-dark: #A41A10;
$color-danger-light: #FFE2E0;


// Bootstrap
$primary: $color-dark;