$font-heading1: 700 1.125rem/1.5 Noto Sans; //18px
$font-heading1-md: 700 1.25rem/1.5 Noto Sans; //20px
$font-heading2: 700 1rem/1.375 Noto Sans; //16px
$font-heading3: 600 0.875rem/1.188 Noto Sans; //14px
$font-heading4: 600 0.75rem/1.063 Noto Sans; //12px
$font-heading5: 500 0.625rem/0.875 Noto Sans; //10px
