.navbar.fixed-top{
    border: none;
}

.navbar{
    padding-left: 0;
    .container-fluid{        
        justify-content: space-between;
        gap: 10px;
        border-radius: 16px;
        width: 100%;
        padding: 0 16px 0 16px;
        margin: 0 16px 0 16px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .breadcrumb{
        align-items: center;
        font: var(--font-button3);
        a{
            color: var(--primary);
        }
        span{
            color: var(--dark-light);
        }
    }




}
#teste{
    width: 20%;
    background-color: var(--primary);
    border-top-right-radius: 16px;
    a{
        color: aliceblue;
    }
}

.editmode-switch-form{
    border-left: 1px solid #dee2e6 !important;
    padding-left: 15px;
    height: 75%;

}
.divider{
    display: none;
}
.input-group{
    background-color:#EBEBEB;
    flex-direction: row-reverse;
    padding: 3px;
    border-radius: 16px;


}






#navbar-breadcrumb::after{
    float: right;
    padding-right: .5rem;
    color: #6a737b;
    content: "/"
}