
<div class="enrol-header">
    <div class="enrol-header-info">
        <span class="enrol-header-tag">{{category}}</span>
        <h1>{{fullcoursename}}</h1>
        <div class="enrol-header-topics">
            {{#workload}}
            <div class="topic-item">
                <i class="fa-regular fa-clock"></i>
                <span>
                    {{workload}} horas
                </span>
            </div>
            {{/workload}}
            {{#has_certificate}}
            <div class="topic-item">
                <i class="fa-regular fa-circle-check"></i>
                <span>
                    Emite certificado
                </span>
            </div>
            {{/has_certificate}}
            <div class="topic-item">
                <i class="fa-regular fa-clock"></i>
                <span>
                    Idioma português
                </span>
            </div>
        </div>
    </div>
    <div class="enrol-header-cta">
        <img src="{{imageurl}}">
        <div class="enrol-header-cta-button">
        {{#self_enrolment}}
            <form autocomplete="off" action="{{{wwwroot}}}/enrol/index.php" method="post" accept-charset="utf-8" class="mform">
                <input type="hidden" name="id" value="{{self_enrolment.id}}" />
                <input type="hidden" name="instance" value="{{self_enrolment.instance}}" />
                <input type="hidden" name="sesskey" value="{{self_enrolment.sesskey}}" />
                <input type="hidden" name="_qf__7_enrol_self_enrol_form" value="1" />
                <input type="hidden" name="mform_isexpanded_id_selfheader" value="1" />

                {{#require_password}}
                    <label for="enrolpassword" class="d-inline word-break">Enrolment key</label>
                    <input type="password" class="form-control" name="enrolpassword" id="enrolpassword" value="" autocomplete="new-password">
                {{/require_password}}
                

                <div class="mt-3">
                    <input type="submit" class="btn btn-tertiary" name="submitbutton" value="{{#str}} enrolme, enrol_self {{/str}}">
                </div>
            </form>
        {{/self_enrolment}}
        {{^self_enrolment}}
            {{#str}} notenrollable, enrol {{/str}}
            <a href="{{{config.wwwroot}}}?redirect=0" class="btn btn-tertiary">Voltar</a>
        {{/self_enrolment}}
        </div>              
    </div>
</div>      

{{#summary}}
<div class="enrol-course-tabs">
  <ul class="nav">
    <li><a class="nav-link active" data-toggle="pill" href="#course-general">Visão Geral</a></li>
    <li><a class="nav-link" data-toggle="pill" href="#course-teacher">Docente</a></li>
    <li><a class="nav-link" data-toggle="pill" href="#course-reviews">Comentários</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="course-general" class="tab-pane fade in active">
        {{summary}}
    </div>
    <div id="course-teacher" class="tab-pane fade">
        <div class="teacher-item">
            <img src="{{teacher_image}}">
            <div class="">
                <h2 class="teacher-name">Melissa Cavalcanti</h2>
                <p>LearnPress is a comprehensive WordPress LMS Plugin for WordPress. This is one of the best WordPress LMS Plugins which can be used to easily create & sell courses online.</p>
            </div>
        </div>
    </div>
    <div id="course-reviews" class="tab-pane fade">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div>
</div>
{{/summary}}
