{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}
<div id="page-wrapper" class="d-print-block bg-green">

    {{{ output.standard_top_of_body_html }}}

    {{^isloggedin}}
        <div class="frontpage-menu bg-green">
            <div class="frontpage-menu-logo">
                <h2>{{{frontpage_title}}}</h2 >
            </div>
            <nav class="frontpage-navbar-container" aria-label="{{#str}}sitemenubar, admin{{/str}}">
                <div class="frontpage-navbar-content">
                    <div class="frontpage-navbar-start-buttons">
                        {{! se a tag "a" não tiver classe, os links tem um efeito no top e no bottom quando clicado }}
                        <a class="aaa" href="{{config.wwwroot}}">{{{frontpage_buttons_configtextarea.0.label}}}</a>
                        <a class="aaa" href="{{config.wwwroot}}">{{{frontpage_buttons_configtextarea.1.label}}}</a>
                    </div>
                    <div class="frontpage-navbar-end-buttons">
                        <select>
                            <option value="pt-br">🇧🇷</option>
                            <option value="es">🇪🇸</option>
                        </select>
                        <span></span>
                        <a href="{{config.wwwroot}}/auth/suap/" class="primary-button">Acessar</a>
                    </div>
                </div>
            </nav>
        </div>
    {{/isloggedin}}

    <div id="page" data-region="mainpage" data-usertour="scroller" class="drawers drag-container bg-green">
        <div class="container-fluid">   
            <div class="row">
                <div class="col-md-12">
                    <div class="frontpage-hero-header">
                        <div class="frontpage-hero-header-content">
                            <h1>{{{hero_title}}}</h1>
                            <h5>{{{hero_subtitle}}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row hero">
                <div class="col-md-3">
                    <div class="frontpage-hero-header-column">
                        <p class="frontpage-hero-header-column-number text-green">{{{hero_first_column_number}}}</p>
                        <p class="frontpage-hero-header-column-title">{{{hero_first_column_description}}}</p>
                        <p class="frontpage-hero-header-column-text">{{{hero_first_column_text}}}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="frontpage-hero-header-column">
                        <p class="frontpage-hero-header-column-number text-green">{{{hero_second_column_number}}}</p>
                        <p class="frontpage-hero-header-column-title">{{{hero_second_column_description}}}</p>
                        <p class="frontpage-hero-header-column-text">{{{hero_second_column_text}}}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="frontpage-hero-header-column">
                        <p class="frontpage-hero-header-column-number text-green">{{{hero_third_column_number}}}</p>
                        <p class="frontpage-hero-header-column-title">{{{hero_third_column_description}}}</p>
                        <p class="frontpage-hero-header-column-text">{{{hero_third_column_text}}}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="frontpage-hero-header-column">
                        <p class="frontpage-hero-header-column-number text-green">{{{hero_fourth_column_number}}}</p>
                        <p class="frontpage-hero-header-column-title">{{{hero_fourth_column_description}}}</p>
                        <p class="frontpage-hero-header-column-text">{{{hero_fourth_column_text}}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="topofscroll" class="bg-green">
            <section id="region-main" aria-label="{{#str}}content{{/str}}" class="bg-green">
                <div class="container-fluid">
                    <div class="frontpage-hero-main-header">
                        <div class="frontpage-hero-main-header-about-button">
                            <a class="primary-button">{{{hero_button_text}}}</a>
                        </div>
                        <div class="frontpage-hero-main-header-content">
                            <div class="frontpage-hero-main-header-title">
                                <p>Cursos abertos do IFRN</p>
                            </div>

                            {{! <p>Cursos abertos do IFRN</p> }}
                            <div class=frontpage-hero-main-header-filter>
                                <div>
                                    <i class="fa fa-search"></i>
                                    <input type="text" placeholder="Pesquisar">
                                </div>
                                <button class="primary-button">Filtrar</button>
                            </div>

                            <div class="frontpage-hero-main-header-title aux">
                                <p>Cursos abertos do IFRN</p>
                            </div>
                        </div>
                    </div>

                    {{{ output.main_content }}}

                    <div class="pagination">
                        <button id="prev-page" class="pagination-button" page="0">
                            <img src="{{config.wwwroot}}/theme/suap/pix/arrow-back-outline.svg" alt="Anterior">
                            Anterior
                        </button>
                        {{! <span id="page-info"></span> }}
                        <span id="pagination-numbers"></span>
                        <button id="next-page" class="pagination-button" page="0">
                            Próximo
                            <img src="{{config.wwwroot}}/theme/suap/pix/arrow-forward-outline.svg" alt="Próximo">
                        </button>
                    </div>
                </div>
            </section>
            {{! <div id="page-content" class="d-print-block main-inner bg-green">
                <div id="region-main-box">
                </div>
            </div> }}
        </div>
        
        {{! {{> theme_boost/footer }}
    </div>
    
    <div class="frontpage-footer"> 
        <div class="frontpage-footer-content">
            <div class="frontpage-footer-content-first-section">
                <p class="frontpage-footer-title">{{{sitename}}}</p>
                <a class="frontpage-footer-suport-button" href="{{config.wwwroot}}">Botão para o suporte</a>
                <p>Texto sobre as redes sociais do IFRN ZL</p>
                <div class="frontpage-footer-socialmedia">
                    <a href="https://www.facebook.com/" target="_blank">
                        <img src="{{config.wwwroot}}/theme/suap/pix/logo-facebook.svg" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <img src="{{config.wwwroot}}/theme/suap/pix/logo-instagram.svg" alt="Instagram">
                    </a>
                </div>
            </div>
            <div class="frontpage-footer-content-second-section">
                <div class="frontpage-footer-content-second-section-column">
                    <p>Sobre</p>
                    <p>Item One</p>
                    <p>Item Two</p>
                    <p>Item Three</p>
                    <p>Item Four</p>
                </div>
                <div class="frontpage-footer-content-second-section-column">
                    <p>Ambientes</p>
                    <p>Item One</p>
                    <p>Item Two</p>
                    <p>Item Three</p>
                    <p>Item Four</p>
                </div>
                <div class="frontpage-footer-content-second-section-column">
                    <p>Contato</p>
                    <p>Item One</p>
                    <p>Item Two</p>
                    <p>Item Three</p>
                    <p>Item Four</p>
                </div>
            </div>
        </div>
        <div class="frontpage-footer-credits">
            <p>Tema: © 2024 IFRN/ZL - DEAD. All Rights Reserved.</p>
            <div class="frontpage-footer-credits-links">
                <a href="{{config.wwwroot}}">Moodle</a>
                <a href="{{config.wwwroot}}">Ajuda</a>
            </div>
        </div>
    </div>

    {{{ output.standard_after_main_region_html }}}         
</div>


<script>
let currentPage = 0;
const limit = 8;
let totalCourses = 0;

async function loadCourses(page, limit, search = '') {
    try {
        const response = await fetch(`{{{ baseurl }}}/theme/suap/ajax_get_courses.php?page=${page}&limit=${limit}&search=${search}`)
            .catch(error => console.error('Error fetching courses:', error));
        const {total, courses} = await response.json();
        totalCourses = total;

        const courseArea = document.querySelector('.course-area');
        courseArea.innerHTML = '';

        courses.forEach(course => {
            courseArea.innerHTML += `
                <div class="course-card">
                    <div class="course-image-container">
                        <img src="${course.image_url}" alt="${course.fullname}" class="course-image">
                    </div>
                    <span class="course-category">${course.category_name}</span>
                    <p class="course-name">${course.fullname}</p>
                </div>
            `;
        });

        updatePaginationButtons(total);
    } catch (error) {
        console.error('Error fetching courses:', error);
    }
}

function updatePaginationButtons(total) {
    const paginationNumbers = document.querySelector('#pagination-numbers');
    const prev = document.querySelector('#prev-page');
    const next = document.querySelector('#next-page');

    paginationNumbers.innerHTML = '';
    prev.disabled = currentPage === 0;
    next.disabled = (currentPage + 1) * limit >= total;

    const totalPages = Math.ceil(total / limit);
    const pageRange = 2; // Número de páginas visíveis antes e depois da atual

    let startPage = Math.max(0, currentPage - pageRange);
    let endPage = Math.min(totalPages - 1, currentPage + pageRange);

    // Mostrar as primeiras duas páginas e o "..." somente uma vez no início
    if (startPage > 2) {
        createPageButton(0);
        createPageButton(1);
        paginationNumbers.innerHTML += '... ';
    } else {
        for (let i = 0; i < startPage; i++) {
            createPageButton(i);
        }
    }

    // Botões para as páginas dentro do intervalo
    for (let i = startPage; i <= endPage; i++) {
        createPageButton(i);
    }

    // Mostrar o "..." uma vez no final se houver páginas restantes ocultas
    if (endPage < totalPages - 3) {
        paginationNumbers.innerHTML += ' ...';
        createPageButton(totalPages - 2);
        createPageButton(totalPages - 1);
    } else {
        for (let i = endPage + 1; i < totalPages; i++) {
            createPageButton(i);
        }
    }

    // Atribuir valores de página aos botões anterior e próximo
    next.setAttribute('page', currentPage + 1);
    prev.setAttribute('page', currentPage - 1);
}

function createPageButton(page) {
    const button = document.createElement('button');
    button.classList.add('pagination-number');
    button.textContent = page + 1;
    
    // Adiciona a classe "active" para indicar a página atual
    if (page === currentPage) {
        button.classList.add('active');
    }

    button.addEventListener('click', () => {
        // Atualiza a página atual
        currentPage = page;
        loadCourses(currentPage, limit);
        
        // Atualiza a aparência das páginas
        updateActivePageButton();
    });
    
    document.querySelector('#pagination-numbers').appendChild(button);
}


// Função para atualizar o botão ativo
function updateActivePageButton() {
    // Remove a classe "active" de todos os botões de paginação
    document.querySelectorAll('.pagination-number').forEach(button => {
        button.classList.remove('active');
    });

    // Adiciona a classe "active" ao botão da página atual
    const activeButton = document.querySelector(`.pagination-number:nth-child(${currentPage + 1})`);
    if (activeButton) {
        activeButton.classList.add('active');
    }
}

document.querySelector('#prev-page').addEventListener('click', () => {
    if (currentPage > 0) {
        currentPage--;
        loadCourses(currentPage, limit);
    }
});

document.querySelector('#next-page').addEventListener('click', () => {
    if ((currentPage + 1) * limit < totalCourses) {
        currentPage++;
        loadCourses(currentPage, limit);
    } else {
        console.log('No more courses to load');
    }
});

window.addEventListener('load', () => {
    document.querySelector('[role="main"]').style.paddingLeft = '0';
    document.querySelector('[role="main"]').style.paddingRight = '0';
});

loadCourses(currentPage, limit);


</script>

</body>
</html>

{{#js}}
require(['theme_suap/helloworld'], (module) => module.init());
{{/js}}

{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
    Drawer.init();
    M.util.js_complete('theme_boost/loader');
});
{{/js}}

