{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}
<div id="page-wrapper" class="d-print-block bg-green">

    {{{ output.standard_top_of_body_html }}}

    {{#loggedin_and_notguestuser}}
        {{> theme_suap/counter}}
    {{/loggedin_and_notguestuser}}

    {{#viewnavbar}}
        {{> theme_suap/navbar}}
    {{/viewnavbar}}
    
    <div id="page" data-region="mainpage" data-usertour="scroller" class="page-suap drag-container">
        <div class="max-width-suap">
            <div class="row">
                <div class="col-md-12">
                    <div class="frontpage-hero-header">
                        <div class="frontpage-hero-header-content">
                            <h1>{{{hero_title}}}</h1>
                            <h5>{{{hero_subtitle}}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row hero">
                <div class="col-md-3">
                    <div class="frontpage-hero-header-column">
                        <p class="frontpage-hero-header-column-number text-green">{{{hero_first_column_number}}}</p>
                        <p class="frontpage-hero-header-column-title">{{{hero_first_column_description}}}</p>
                        <p class="frontpage-hero-header-column-text">{{{hero_first_column_text}}}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="frontpage-hero-header-column">
                        <p class="frontpage-hero-header-column-number text-green">{{{hero_second_column_number}}}</p>
                        <p class="frontpage-hero-header-column-title">{{{hero_second_column_description}}}</p>
                        <p class="frontpage-hero-header-column-text">{{{hero_second_column_text}}}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="frontpage-hero-header-column">
                        <p class="frontpage-hero-header-column-number text-green">{{{hero_third_column_number}}}</p>
                        <p class="frontpage-hero-header-column-title">{{{hero_third_column_description}}}</p>
                        <p class="frontpage-hero-header-column-text">{{{hero_third_column_text}}}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="frontpage-hero-header-column">
                        <p class="frontpage-hero-header-column-number text-green">{{{hero_fourth_column_number}}}</p>
                        <p class="frontpage-hero-header-column-title">{{{hero_fourth_column_description}}}</p>
                        <p class="frontpage-hero-header-column-text">{{{hero_fourth_column_text}}}</p>
                    </div>
                </div>
            </div>


            <div id="topofscroll" class="bg-green">
                <section id="region-main" aria-label="{{#str}}content{{/str}}" class="bg-green">
                    <div class="frontpage-hero-main-header">
                        <div class="frontpage-hero-main-header-about-button">
                            <a class="primary-button">{{{hero_button_text}}}</a>
                        </div>
                        <div class="frontpage-hero-main-header-content">
                            <div class="frontpage-hero-main-header-title">
                                <p>{{{frontpage_main_courses_title}}}</p>
                            </div>

                            <div class=frontpage-hero-main-header-filter>
                                <div>
                                    <i class="fa fa-search"></i>
                                    <input type="text" placeholder="Pesquisar" id="search">
                                </div>
                                <button id="filter-courses" class="primary-button">
                                    Filtrar
                                    <span id="filter-badge" class="filter-badge" style="display: none;">0</span>
                                </button>
                            </div>

                            <div class="frontpage-hero-main-header-title aux">
                                <p>{{{frontpage_main_courses_title}}}</p>
                            </div>
                        </div>
                    </div>

                    {{{ output.main_content }}}

                    <div class="pagination">
                        <button id="prev-page" class="pagination-button" page="0">
                            <img src="{{config.wwwroot}}/theme/suap/pix/arrow-back-outline.svg" alt="Anterior">
                            Anterior
                        </button>
                        {{! <span id="page-info"></span> }}
                        <span id="pagination-numbers"></span>
                        <button id="next-page" class="pagination-button" page="0">
                            Próximo
                            <img src="{{config.wwwroot}}/theme/suap/pix/arrow-forward-outline.svg" alt="Próximo">
                        </button>
                    </div>
                </section>
                {{! <div id="page-content" class="d-print-block main-inner bg-green">
                    <div id="region-main-box">
                    </div>
                </div> }}
            </div>
        </div>
        
        {{> theme_boost/footer }}
    </div>
        
           
    
    {{> theme_suap/footer}}

    <div class="modal-overlay" id="modal-overlay"></div>

    <div class="filter-area" id="filter-area">
        <div class="filter-header">
            <span class="filter-header-title">Filtros</span>
            <button id="close-filter" class="filter-header-close-button">
                <img src="{{config.wwwroot}}/theme/suap/pix/close.svg" alt="Fechar">
            </button>
        </div>
        <div class="filter-content">
            <div class="filter-content-workload-column">
                <h5 class="filter-content-column-title">Carga Horária</h5>
                <label><input type="checkbox" value="10"> até 10 horas</label>
                <label><input type="checkbox" value="20"> até 20 horas</label>
                <label><input type="checkbox" value="30"> até 30 horas</label>
                <label><input type="checkbox" value="40"> até 40 horas</label>
                <label><input type="checkbox" value="50"> até 50 horas</label>
                <label><input type="checkbox" value="60"> até 60 horas</label>
                <label><input type="checkbox" value="70"> até 70 horas</label>
                <label><input type="checkbox" value="80"> até 80 horas</label>
            </div>
            <div class="filter-content-certificate-column">
                <h5 class="filter-content-column-title">Certificado</h5>
                <label><input type="checkbox" value="Sim"> Sim</label>
                <label><input type="checkbox" value="Não"> Não</label>
            </div>
            <div class="filter-content-lang-column">
                <h5 class="filter-content-column-title">Idioma</h5>
                <label><input type="checkbox" value="pt_br"> Português</label>
                <label><input type="checkbox" value="es"> Espanhol</label>
                <label><input type="checkbox" value="en"> Inglês</label>
            </div>
            <div class="filter-content-learningpath-column">
                <h5 class="filter-content-column-title">Trilha</h5>
                {{#learningpaths}}
                    <label><input type="checkbox" value="{{id}}"> {{name}}</label>
                {{/learningpaths}}
            </div>
        </div>
        <div class="filter-footer">
            <button id="clear-filter" class="filter-footer-clear-button">Limpar Seleção</button>
            <button id="apply-filter" class="filter-footer-apply-button">Aplicar Filtros</button>
    </div>
</div>

</body>
</html>

{{#js}}
require(
[
    'jquery',
    'core_message/message_popover'
],
function($, Popover) {
    var toggle = $('#message-drawer-toggle-{{uniqid}}');
    Popover.init(toggle);
});
{{/js}}


{{#js}}
require(['theme_suap/drawersControl'], (module) => module.init());

require(['theme_suap/userPreference'], (module) => module.init());

require(['theme_suap/messages'], (module) => module.renderUnreadCount());

require(['theme_suap/notifications'], (module) => module.init());

const drawerNotification = document.querySelector('[data-drawer="drawer-notifications"]');

require(['jquery', 'message_popup/notification_popover_controller'], function($, Controller) {
    var container = $('.popover-region-notifications');
    var controller = new Controller(container);
    controller.registerEventListeners();
    controller.registerListNavigationEventListeners();
});
{{/js}}


{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
    Drawer.init();
    M.util.js_complete('theme_boost/loader');
});
{{/js}}

