#drawer-index {
    .dropdown-menu {
        border: none;
        box-shadow: var(--shadow-primary);
        .dropdown-item {
            width: auto;
            margin-inline: .5rem;
            border-radius: 1.5rem; //24px
            padding-block: .5rem;
            font: var(--font-button2);
            &:hover {
                background-color: var(--light);
                color: var(--dark);
            }
        }
    }

    div.courseindex-item {
        .courseindex-link {
            color: var(--secondary);
        }
        .courseindex-chevron {
            background-color: var(--secondary-light);
            border-radius: 1.5rem;
            position: relative;
            width: 22px;
            margin-right: .5rem;
            &.collapsed {
                background-color: var(--light);
                + .courseindex-link {
                    color: var(--dark);
                }
            }
            .collapsed-icon, .expanded-icon {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
            .expanded-icon i {
                color: var(--secondary-dark);
            }
        }
    }
}
.drawer-content{
    .drawerheader{
        display: none;
    }
}
