#drawer-notifications {
    .drawer-body {
        height: calc(100vh - 189px);
        overflow-y: auto;
        position: relative;
    }

    .notification-full {
        background-color: var(--light-lighter);
        .contexturl {
            display: table;
            margin: 0 auto;
        }
    }

    .notification-reminder {
        margin-bottom: 1rem;
        .reminder-title {
            font: var(--font-paragraph2);
            margin-bottom: .5rem;
        }
        .reminder-time {
            font: var(--font-heading6);
            color: var(--dark-light);
            display: flex;
        }
    }

    .button-light {
        background-color: var(--primary-light);
        border-radius: 30px;
        padding: .4rem .5rem;
        color: var(--primary);
        font: var(--font-button3);
        text-decoration: none;
        
    }
}

.notification_list {
    display: grid;
    gap: .5rem;
    position: relative;
    &.hidden {
        display: none;
    }
    .empty-message {
        text-align: center;
    }

    
    .notification-card {
        background-color: var(--general-white);
        border-radius: .5rem;
        padding: .5rem 1rem;
        transition: all .1s ease-in;
        border: 1px solid transparent;
        cursor: pointer;
        &.unread {
            background-color: var(--light);
        }
        &:hover {
            border: 1px solid var(--primary);
            background-color: var(--primary-light);
        }
        .card-title {
            font: var(--font-paragraph2);
            margin-bottom: .5rem;
        }
        .card-bottom {
            display: flex;
            justify-content: space-between;
        }
        .card-time {
            font: var(--font-heading6);
            color: var(--dark-light);
        }
        .card-showmore {
            font: var(--font-heading5);
            color: var(--primary);
        }
    }

}

