<div class="frontpage-footer-bg">

    <div class="frontpage-footer page-suap"> 
        <div class="frontpage-footer-content max-width-suap">
            <div class="frontpage-footer-content-first-section">
                <p class="frontpage-footer-title">{{{sitename}}}</p>
                <a class="frontpage-footer-suport-button" href="{{config.wwwroot}}">Botão para o suporte</a>
                <p>Texto sobre as redes sociais do IFRN ZL</p>
                <div class="frontpage-footer-socialmedia">
                    <a href="https://www.facebook.com/" target="_blank">
                        <img src="{{config.wwwroot}}/theme/suap/pix/logo-facebook.svg" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <img src="{{config.wwwroot}}/theme/suap/pix/logo-instagram.svg" alt="Instagram">
                    </a>
                </div>
            </div>
            <div class="frontpage-footer-content-second-section">
                <div class="frontpage-footer-content-second-section-column">
                    <p>Sobre</p>
                    <p>Item One</p>
                    <p>Item Two</p>
                    <p>Item Three</p>
                    <p>Item Four</p>
                </div>
                <div class="frontpage-footer-content-second-section-column">
                    <p>Ambientes</p>
                    <p>Item One</p>
                    <p>Item Two</p>
                    <p>Item Three</p>
                    <p>Item Four</p>
                </div>
                <div class="frontpage-footer-content-second-section-column">
                    <p>Contato</p>
                    <p>Item One</p>
                    <p>Item Two</p>
                    <p>Item Three</p>
                    <p>Item Four</p>
                </div>
            </div>
        </div>
        <div class="frontpage-footer-credits max-width-suap">
            <p>Tema: © 2024 IFRN/ZL - DEAD. All Rights Reserved.</p>
            <div class="frontpage-footer-credits-links">
                <a href="{{config.wwwroot}}">Moodle</a>
                <a href="{{config.wwwroot}}">Ajuda</a>
            </div>
        </div>
    </div>

</div>