<div class="notification-reminder">
    <h3 class="reminder-title">
        {{shortenedsubject}}
    </h3>
    <span class="reminder-time">
        {{timecreatedpretty}}
    </span>
</div>
{{{text}}}
<a href="{{contexturl}}" class="contexturl button-light">        
    {{#str}} viewnotificationresource, message, {{contexturlname}} {{/str}}
</a>
