{{^isloggedin}}
<nav class="notloggedinmenu" aria-label="{{#str}}sitemenubar, admin{{/str}}">
    <select>
        <option value="pt-br">🇧🇷</option>
        <option value="es">🇪🇸</option>
        <option value="en">🇺🇸</option>
    </select>
    <span></span>
    <a href="{{config.wwwroot}}/login/" class="bnt btn-primary">Acessar</a>
</nav>
{{/isloggedin}}
